.rt {
    float: right;
}
.lf {
    float: left;
}

.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}
.clearfix:after {
    clear: both;
}

.f-otw {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.f-oh {
    overflow: hidden;
}
.f-oh2 {
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.f-csp {
    cursor: pointer;
}

