body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}
ul,
ol {
    list-style: none;
}
a {
    text-decoration: none;
    color: #333;
}
a:focus {
    outline: none;
    border: none;
}
img {
    border: 0;
    vertical-align: middle;
}
input,
button {
    vertical-align: middle;
    border: none;
}
textarea {
    border: none;
    resize: none;
}
input,
textarea {
    box-sizing: content-box;
    background: 0 0;
    font-family: 'Microsoft YaHei';
}
input {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #acacac;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #acacac;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #acacac;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #acacac;
}
body {
    color: #333;
    font-family: 'Microsoft YaHei';
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
table tr td,
table {
    border-collapse: collapse;
}
